<log4net>
	<!-- 控制台输出 -->
	<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss:fff}] [%thread] [%-5level] [%logger] - %message%newline" />
		</layout>
	</appender>-->

	<!-- 按天 + 按大小滚动（自动排序，不乱序） -->
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/Test.log" />
		<appendToFile value="true" />
		<encoding value="utf-8" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

		<!-- 滚动模式：日期 + 大小 -->
		<rollingStyle value="Composite" />
		<!-- 每天一个文件 -->
		<datePattern value="yyyy-MM-dd'.log'" />
		<!-- 关键：固定当前文件名，自动排序 -->
		<staticLogFileName value="false" />
		<preserveLogFileNameExtension value="false" />

		<!-- 单个文件最大 10MB，最多保留 30 天 -->
		<maximumFileSize value="1MB" />
		<maxSizeRollBackups value="9999999" />
		<preserveLogFileNameExtension value="false" />

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss:fff}] [%thread] [%-5level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4net>